* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  max-width: 100%;
  height: auto;
  border: 1px solid #000;
  /*font: 100%/1.5em;*/
  font: 200%;
  color: #00f;
  /*background-color: red;*/
  /*background-image: url("img/background.png");*/
}
.footer {
  -webkit-box-flex: direction;
      -ms-flex: direction;
          flex: direction;
  display: block;
  width: 1000px;
  height: 200px;
  color: #000;
  border: 43px solid #00f;
}
.header {
  display: block;
  width: 100%;
  height: 10vh;
  background: #f00;
}
.header {
  display: block;
  width: 100%;
  height: 10vh;
  background: #f00;
}
/*.q{
  width: 123px;
  height: 123px;
  background-color: #f00;
}*/
.q{  width: 123px;height: 12px; background-color: #f00;}
.q1{  width: auto;height: auto; background-color: #ff0;}
.q2{  width: 123px;height: 8px; background-color: #fc4;}
.q2{  width: 123px;height: 8px; background-color: #ff4;}
.q3{  width: 123px;height: 7px; background-color: #ff9;}
.q4{  width: 123px;height: 6px; background-color: #0f0;}
.q5{  width: 123px;height: 5px; background-color: #3f3;}
.q6{  width: 123px;height: 5px; background-color: #33f;}
.q7{  width: 123px;height: 5px; background-color: #03f;}
.q8{  width: 123px;height: 5px; background-color: #30f;}
.q9{  width: 123px;height: 5px; background-color: #50f;}
.w11{  width: auto;height: auto; background-color: #ff0;border:2px solid #fc8;border-bottom:#fc4 2px solid;}
.w12{  width: auto;height: auto; background-color: #ff0;border:2px solid #fc8;border-bottom:#fc4 2px solid;}
.w23{  width: auto;height: auto; background-color: #ff0;border:2px solid #fc8;border-bottom:#fc4 2px solid;}
.w32{  width: auto;height: auto; background-color: #ff0;border:2px solid #fc8;border-bottom:#fc4 2px solid;}
.w34{  width: auto;height: auto; background-color: #ff0;border:2px solid #fc8;border-bottom:#fc4 2px solid;}
.w45{  width: auto;height: auto; background-color: #5a5;border:2px solid #2f8;border-bottom:#fc4 2px solid;}
.w54{  width: auto;height: auto; background-color: #5a5;border:2px solid #2f8;border-bottom:#fc4 2px solid;}
.w56{  width: auto;height: auto; background-color: #5a5;border:2px solid #2f8;border-bottom:#fc4 2px solid;}
.w65{  width: auto;height: auto; background-color: #5a5;border:2px solid #2f8;border-bottom:#fc4 2px solid;}
.w67{  width: auto;height: auto; background-color: #5a5;border:2px solid #2f8;border-bottom:#fc4 2px solid;}
.w45{  width: auto;height: auto; background-color: #5a5;border:2px solid #2f8;border-bottom:#fc4 2px solid;}
.w45{  width: auto;height: auto; background-color: #5a5;border:2px solid #2f8;border-bottom:#fc4 2px solid;}
/*.q23{  width: auto;height: auto; background-color: #ff0;border:2px solid #fc8 2px solid #0f0 2px solid #f00 2px solid #f00;}*/
/*.q23{  width: auto;height: auto; background-color: #ff0;border-top:#fc4 2px solid; border-bottom:red;}*/

/*.q2{
  width: 223px;
  height: 223px;
  background-color: #f00;
  after:"aaa";
}
*/
p{
    display: inline-block;
  width: 234px;
  height: 22px;
  background-color: #fcf;
  after:"aaa";
}
.as{
  display: inline-block;
  width: 234px;
  height: 22px;
  background-color: #cfc;
  after:"aaa";
}
.qw{
  display: inline-block;
  margin-left:123px;
  width: 234px;
  height: 22px;
  background-color: #f00;
  after:"aaa";
}

